<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Book List</title>
</head>
<body>
	<h2>Book List</h2>
	 <table border="1" bordercolour="blue" cellspacing="5" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
        
          <tr th:each="book : ${bookList }">
            <th th:text="${book.bookId}"></th>
            <th th:text="${book.title}"></th>
            <th th:text="${book.genre}"></th>
            <th th:text="${book.price}"></th>
        </tr>


    </table>

</body>




</html>